/* :root {
    --color-primary:#4285F4;
    --color-link:#478af6;
    --color-secondary:rgb(1, 183, 1);
    --color-gray:rgb(154, 154, 154);
    --color-black:rgb(0, 0, 0);
    --color-background:rgb(232, 232, 232);
    --color-whitesmoke:whitesmoke;
    --color-info: #577580;
    --color-link2: #4b919c
} */

/* Main */
/* *, 
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing: inherit;
}

html{
    font-size: 62.25%;
}

body{
    font-size: 1.6rem;
    box-sizing:border-box;
    font-family: sans-serif;
}

button, a{
    cursor: pointer;
} */

/* main */

/* .text-decor-none{
    text-decoration: none;
    font-size: 1.35em;
} */

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(201, 201, 201);
    font-family: sans-serif;
  }
  
  #wrapper {
    max-width: 1000px;
    position: relative;
  }
  
  #carousel {
    width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  
  #carousel::-webkit-scrollbar {
    height: 0;
  }
  
  #prev,
  #next {
    display: flex;
    justify-content: center;
    align-content: center;
    background: white;
    border: none;
    padding: 8px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    position: absolute;
  }
  
  #prev {
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    display: none;
    border: 3px solid black
  }
  
  #next {
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    border: 3px solid black;
  }
  
  #content {
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    margin: auto;
  }
  
  .item {
    width: 250px;
    background: rgb(19, 51, 26);
    background: linear-gradient(90deg, rgba(19, 51, 26, 1) 0%, rgba(53, 136, 61, 1) 50%, rgba(19, 51, 26, 1) 100%);
    padding: 1rem;
    box-sizing: border-box;
    font-size: .9em;
    border-radius: 5px;
  }
  
  .item__img {
    object-fit: cover;
    width: 100%;
    margin-bottom: 1em;
  }
  
  .item p {
    margin: 0 0 .7em 0;
    color: whitesmoke
  }

  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    display: none;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }